<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>BrowserMediaPlayback</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Media Autoplay</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserMediaAutoplay</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Video Autoplay</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserMediaAutoplayVideo</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Audio Autoplay</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserMediaAutoplayAudio</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Inline Playback on iPad</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobileAllowInlineMediaPlayback</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Inline Playback on iPhone</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobileCompactAllowInlineMediaPlayback</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Picture in Picture Video</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobileAllowPictureInPictureMediaPlayback</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Media Capture</string>
			<key>FooterText</key>
			<string>Allow web sites to access camera/microphone, for WebRTC live streams, still pictures and video/audio recordings (only in modern WebView and on iOS 14.3/macOS 11.1 or newer)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Camera Capture</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserMediaCaptureCamera</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Microphone Capture</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserMediaCaptureMicrophone</string>
		</dict>
	</array>
</dict>
</plist>
