<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Browser</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Links requesting to open in new tab …</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_newBrowserWindowByLinkPolicy</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Get Generally Blocked</string>
				<string>Open in Same Tab</string>
				<string>Open in New Tab</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Block When on Different Server</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_newBrowserWindowByLinkBlockForeign</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Browser Features</string>
			<key>FooterText</key>
			<string>Text search currently only works on web pages, not in PDF files. Blocking pop-up windows and disabling JavaScript only works in modern WebView.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Text Search</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_allowFind</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Block Pop-Up Windows</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_blockPopUpWindows</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Enable JavaScript</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_enableJavaScript</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Reload Page after Connection Error</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserConnectionErrorReload</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Remote Inspection</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_allowDeveloperConsole</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Restrictions in Exam Tab</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Navigation</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_allowBrowsingBackForward</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Reload</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserWindowAllowReload</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Reload Warning</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_showReloadWarning</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserWindowShowURL</string>
			<key>Title</key>
			<string>Show URLs</string>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>Only on Load Error</string>
				<string>Before Receiving Title</string>
				<string>Always</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>DisplaySortedByTitle</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Restrictions in New Tabs</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Navigation</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_newBrowserWindowNavigation</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Reload</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_newBrowserWindowAllowReload</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Reload Warning</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_newBrowserWindowShowReloadWarning</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_newBrowserWindowShowURL</string>
			<key>Title</key>
			<string>Show URLs</string>
			<key>Titles</key>
			<array>
				<string>Never</string>
				<string>Only in Load Error</string>
				<string>Before Receiving Title</string>
				<string>Always</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>DisplaySortedByTitle</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Media Playback/Capture</string>
			<key>File</key>
			<string>BrowserMediaPlayback</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Select Browser Engine Policy</string>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserWindowWebView</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Automatic</string>
				<string>Force Classic</string>
				<string>Prefer Modern in New Tab+Different Host</string>
				<string>Prefer Modern</string>
			</array>
			<key>FooterText</key>
			<string>The modern WKWebView browser engine currently doesn&apos;t support URL content filters (Network &gt; URL Filter &gt; Filter Embedded Content) and sending the Browser Exam and Config Key in HTTP headers (Exam Session &gt; Use Browser &amp; Config Keys). If one of these settings is enabled, the classic WebView is used in the Automatic policy. Prefer Modern ignores the &apos;Use Browser &amp; Config Keys&apos; option in new tabs on a different server or generally.</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>User Agent</string>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserUserAgentiOS</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Default</string>
				<string>Mac Desktop</string>
				<string>Custom</string>
			</array>
			<key>FooterText</key>
			<string>SEB always appends its version number. Default string depends on the iOS version and therefore can differ on exam clients.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserUserAgentiOSCustom</string>
			<key>IASKPlaceholder</key>
			<string>Custom user agent string</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_browserUserAgent</string>
			<key>IASKPlaceholder</key>
			<string>User agent suffix</string>
		</dict>
	</array>
</dict>
</plist>
