<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>File Name</string>
			<key>Key</key>
			<string>configFileName</string>
			<key>DefaultValue</key>
			<string>SEBClientSettings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Use Config File For …</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_sebConfigPurpose</string>
			<key>DefaultValue</key>
			<integer>1</integer>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Starting Exam</string>
				<string>Configuring Clients</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Encryption</string>
			<key>FooterText</key>
			<string>Encryption is only relevant when settings are shared as a config file. Use either a cryptographic identity or a password or both.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Settings Password</string>
			<key>Key</key>
			<string>settingsPassword</string>
			<key>IsSecure</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Settings In App</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_showSettingsInApp</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
