<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SEB Dock</string>
			<key>FooterText</key>
			<string>Left slider menu can always be accessed by swiping right from the left display edge.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Dock</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_showTaskBar</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Dock Command Items</string>
			<key>FooterText</key>
			<string>SEB Dock shows open browser tabs and commands. The command items above will always be displayed in the slider menu (reload) or when their functionality is enabled (Exam pane/back to start, Browser pane/navigation).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Reload Button</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_showReloadButton</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Navigation Buttons</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_showNavigationButtons</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Back to Start Button</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_showBackToStartButton</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Show Scan QR Code Button</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_showScanQRCodeButton</string>
		</dict>
	</array>
</dict>
</plist>
