<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>DownloadFileTypes</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_downloadFileTypes</string>
			<key>Type</key>
			<string>IASKListGroupSpecifier</string>
			<key>Title</key>
			<string>File Types to be Downloaded</string>
			<key>FooterText</key>
			<string>File Types which will be downloaded instead of displayed by the browser. If you enter the identifier of an additional app which has a custom scheme, that app will be opened after the download finishes. On iPadOS you have to open the downloaded file manually in the additional app (location &apos;On My iPad / SEB&apos;).</string>
			<key>ItemSpecifier</key>
			<dict>
				<key>Type</key>
				<string>IASKCustomViewSpecifier</string>
				<key>File</key>
				<string>DownloadFileType</string>
				<key>Title</key>
				<string>File Type</string>
				<key>IASKTextAlignment</key>
				<string>IASKUITextAlignmentLeft</string>
			</dict>
			<key>AddSpecifier</key>
			<dict>
				<key>Type</key>
				<string>PSChildPaneSpecifier</string>
				<key>File</key>
				<string>DownloadFileType</string>
				<key>Title</key>
				<string>Add File Type ...</string>
				<key>Key</key>
				<string>addDownloadFileTypeKey</string>
			</dict>
			<key>Deletable</key>
			<true/>
		</dict>
	</array>
</dict>
</plist>
