<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>FooterText</key>
			<string>When you modify settings (change one of the permanent setting options), Browser Exam and Config Key are recalculated using the full set of settings this version of SEB supports. Then you have to share these modified settings as a config file if you want to use it with other versions of SEB (which are also using the Browser Exam or Config Key).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>Config was modified, keys won&apos;t match original state!</string>
			<key>Key</key>
			<string>configModifedWarning</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Browser Exam Key</string>
			<key>FooterText</key>
			<string>The Browser Exam Key (BEK) depends on SEB&apos;s code signature and the current SEB config. Copy the value to the according field in the quiz settings of a compatible exam system. SEB on each platform generates another BEK, even if the same SEB config is used. Different versions of SEB for iOS generate the same BEK, as long as the same SEB config file is used.</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>browserExamKey</string>
			<key>Title</key>
			<string>BEK</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Config Key</string>
			<key>FooterText</key>
			<string>The Config Key (CK) depends on the current SEB config. It can be generated automatically by a compatible exam server together with the SEB config to be used for an exam. All SEB versions supporting the CK generate the same CK when using the same, unmodified SEB config file.</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>configKey</string>
			<key>Title</key>
			<string>CK</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Share Keys with/without Config</string>
			<key>FooterText</key>
			<string>Select the key(s) which you want to be shared (using the Share button in the main Settings view) and copied to the clipboard after closing Settings. Usually only the Browser Exam Key needs to be copy-pasted manually to the according field in quiz settings of a compatible exam system.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Share Browser Exam Key</string>
			<key>Key</key>
			<string>org_safeexambrowser_configFileShareBrowserExamKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Share Config Key</string>
			<key>Key</key>
			<string>org_safeexambrowser_configFileShareConfigKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Key</key>
			<string>org_safeexambrowser_configFileShareKeys</string>
			<key>FooterText</key>
			<string>The Browser Exam and/or Config Key of the current SEB config can be shared (as text string) either together with the exported, modified config file or alone (if the opened config isn&apos;t supposed to be modified). The keys are also copied to the clipboard when closing Settings (so an exam admin can easily paste them to the according quiz settings).</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Share Keys with Config</string>
				<string>Only Keys (Don&apos;t Modify Config)</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
