<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Browser Exam Key</string>
			<key>FooterText</key>
			<string>The Browser Exam Key (BEK) depends on SEB&apos;s code signature and the current SEB config. Copy the value to the according field in the quiz settings of a compatible exam system. SEB on each platform generates another BEK, even if the same SEB config is used. Different versions of SEB for iOS generate the same BEK, as long as the same SEB config file is used.</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>browserExamKey</string>
			<key>Title</key>
			<string>BEK</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Config Key</string>
			<key>FooterText</key>
			<string>The Config Key (CK) depends on the current SEB config. It can be generated automatically by a compatible exam server together with the SEB config to be used for an exam. In this case it&apos;s not necessary to copy-paste the CK to quiz settings. All SEB versions supporting the CK will generate the same CK as long as the same, unmodified SEB config file is used.</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>configKey</string>
			<key>Title</key>
			<string>CK</string>
			<key>Type</key>
			<string>IASKCustomViewSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSRadioGroupSpecifier</string>
			<key>Title</key>
			<string>Share Keys</string>
			<key>Key</key>
			<string>org_safeexambrowser_configFileShareKeys</string>
			<key>FooterText</key>
			<string>The Browser Exam and Config Key of the current SEB config can be shared (as text strings) together with the exported, modified config file or alone (only as long as the opened config wasn&apos;t modified). The keys are also copied into the clipboard when closing Settings (so an exam admin can easily paste them to the according quiz settings).</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>Don&apos;t Share Keys</string>
				<string>Share Keys with Config</string>
				<string>Only Keys (Don&apos;t Modify Config)</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Share Browser Exam Key</string>
			<key>Key</key>
			<string>org_safeexambrowser_configFileShareBrowserExamKey</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Share Config Key</string>
			<key>Key</key>
			<string>org_safeexambrowser_configFileShareConfigKey</string>
		</dict>
	</array>
</dict>
</plist>
