<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Quit Link</string>
			<key>FooterText</key>
			<string>Place this Quit Link onto the &apos;feedback&apos; page displayed after an exam was successfully finished. Clicking that link will quit SEB without having to enter the quit password.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Quit URL</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_quitURL</string>
			<key>IASKPlaceholder</key>
			<string>Exact full URL</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Confirm Quitting</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_quitURLConfirm</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Back to Start Button</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use Start URL</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_restartExamUseStartURL</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_restartExamURL</string>
			<key>IASKPlaceholder</key>
			<string>Custom URL</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Custom Title Text</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_restartExamText</string>
			<key>IASKPlaceholder</key>
			<string>Back to Start</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Require Quit Password</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_restartExamPasswordProtected</string>
		</dict>
	</array>
</dict>
</plist>
