<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Automatic Assessment Configuration (AAC) &amp; Autonomous Single App Mode (ASAM)</string>
			<key>FooterText</key>
			<string>Uses either AAC (for BYOD) or requires device to be supervised and having SEB set as an allowed app to invoke ASAM (which takes priority over AAC).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use AAC/ASAM If Available</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobileEnableASAM</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Classic Single App Mode (SAM)</string>
			<key>FooterText</key>
			<string>Use Single App Mode invoked by Classroom, an MDM system or Apple Configurator instead of ASAM/AAC. Note: You have to distribute devices already locked into SAM or disable manual Guided Access if you want to make sure that only SAM is used by the system.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Single App Mode</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobileAllowSingleAppMode</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>FooterText</key>
			<string>Disable for preventing seb(s):// links to be used for starting exams or reconfiguring the client.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Download/Open SEB Config Files</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_downloadAndOpenSebConfig</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SEB Config QR Code</string>
			<key>FooterText</key>
			<string>Allows to start an exam or to reconfigure SEB by scanning a QR code with a link to an SEB config file. This is only possible while SEB isn&apos;t running in exam mode. Use slider menu, dock button (if enabled) or 3D touch Home screen quick action.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow QR Code Config</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobileAllowQRCodeConfig</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Prevent Auto-Lock</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobilePreventAutoLock</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_allowiOSBetaVersionNumber</string>
			<key>Title</key>
			<string>Allow Running on iOS Beta</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>iOS 11</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>11</integer>
			</array>
			<key>DisplaySortedByTitle</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
