<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Automatic Assessment Configuration (AAC) &amp; ASAM</string>
			<key>FooterText</key>
			<string>Uses either AAC (for BYOD) or requires device to be supervised and having SEB set as an allowed app to invoke Autonomous Single App Mode (ASAM, which takes priority over AAC).</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Use AAC/ASAM If Available</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobileEnableASAM</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>FooterText</key>
			<string>Settings for Classic Single App Mode (SAM) and Guided Access</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Legacy Single App Mode</string>
			<key>File</key>
			<string>SecurityLegacy</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>FooterText</key>
			<string>Disable to prevent that seb(s):// links can start exams with individual settings or reconfigure the client.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Download/Open SEB Config Files</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_downloadAndOpenSebConfig</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>SEB Config QR Code</string>
			<key>FooterText</key>
			<string>Allows to start an exam or to reconfigure SEB by scanning a QR code with a link to an SEB config file. This is only possible while SEB isn&apos;t running in exam mode. Use slider menu, dock button (if enabled) or 3D touch Home screen quick action.</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow QR Code Config</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobileAllowQRCodeConfig</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Prevent Auto-Lock</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobilePreventAutoLock</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Allow Running from iOS Version</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_allowiOSVersionNumberMajor</string>
			<key>Title</key>
			<string>Major Version Number</string>
			<key>Titles</key>
			<array>
				<string>9</string>
				<string>10</string>
				<string>11</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>9</integer>
				<integer>10</integer>
				<integer>11</integer>
			</array>
			<key>DisplaySortedByTitle</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Minor Version Number</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_allowiOSVersionNumberMinor</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocorrectionType</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Patch Version Number</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_allowiOSVersionNumberPatch</string>
			<key>IsSecure</key>
			<false/>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>AutocorrectionType</key>
			<string>Default</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string></string>
		</dict>
		<dict>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_allowiOSBetaVersionNumber</string>
			<key>Title</key>
			<string>Allow Running on iOS Beta</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>iOS 12</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>12</integer>
			</array>
			<key>DisplaySortedByTitle</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
