<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Main Browser Window</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>0</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_mobileStatusBarAppearance</string>
			<key>Title</key>
			<string>Status Bar Appearance</string>
			<key>Titles</key>
			<array>
				<string>None</string>
				<string>Light Color</string>
				<string>Dark Color</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Values</key>
			<array>
				<string>0</string>
				<string>1</string>
				<string>2</string>
			</array>
			<key>DisplaySortedByTitle</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Browser Toolbar</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_enableBrowserWindowToolbar</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>SEB Dock</string>
			<key>File</key>
			<string>Dock</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Allow Auto-Correction</string>
			<key>Key</key>
			<string>org_safeexambrowser_SEB_allowSpellCheck</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
</dict>
</plist>
