<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:demo.safeexambrowser.org</string>
		<string>applinks:seb.let.ethz.ch</string>
	</array>
	<key>com.apple.developer.automatic-assessment-configuration</key>
	<true/>
	<key>com.apple.developer.edu-assessment-mode</key>
	<true/>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array>
		<string>iCloud.org.safeexambrowser.ios.seb</string>
	</array>
	<key>com.apple.developer.icloud-services</key>
	<array>
		<string>CloudDocuments</string>
	</array>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>iCloud.org.safeexambrowser.ios.seb</string>
	</array>
</dict>
</plist>
